:root {
    --primary: #18A0FB;
    --primary-hover: #166092;
    --black1: #353535;
    --black2: #585858;
    --black3: #242424;
    --completed: #12FA0E;
    --uncompleted: #8F8F8F;
    --borders: #8D8C8C;
    --text: #D3D3D3;
    --titles: #FFFFFF;
    --text-contrast: #FFFFFF;
    font-size: 10px;
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black1);
}

h1,
h2 {
    color: var(--titles);
    font-size: 2.5rem;
}

#root {
    max-width: 700px;
    margin: 30px auto;
    text-align: center;
}

input,
textarea {
    border: 1px solid var(--borders);
    background-color: transparent;
    color: var(--text);
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-size: 1.5rem;
}

button {
    border-radius: 3rem;
    font-size: 1.5rem;
    border: transparent;
    background-color: var(--primary);
    color: var(--text-contrast);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--primary-hover);
}